<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>

<br><br><br><br><br><br><br><br>

<%= image_tag "green_water_drop_background.jpg", style: "position: absolute; top: 0; left: 0; width: 100%; height: auto; opacity: 0.2" %>

<div align="center" style="position: absolute">
  <div class="font-toggle">
    How do you think this font looks?
  </div>
</div>

<style type="text/css">
  .font-toggle{
    font-size: 100px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 90px;
  }
  body{
    background-color: black;
    color: white;
  }
</style>