<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>

<br><br><br><br><br>
<div class="row" style="margin: 0">
  <div class="col-md-5 col-md-offset-1">
    <img src="http://f.fastcompany.net/multisite_files/fastcompany/imagecache/slideshow_large/slideshow/2015/04/3044826-slide-s-4-slick-new-sodastream-lets-you-carbonate-booze.jpg" style="margin-left: -115px">
  </div>
  <div class="col-md-5">
    <div class="page-title">
      Girls Don't Like Boys
    </div>
    <div class="page-description">
      Mixtape Brooklyn kale chips, Blue Bottle art party Portland authentic cred. Portland Banksy street art wayfarers XOXO cold-pressed. Lomo locavore health goth, ethical biodiesel food truck Godard Intelligentsia cornhole occupy 90's kale chips. Scenester vinyl PBR paleo vegan Echo Park. Blue Bottle crucifix put a bird on it, 8-bit Bushwick +1 Echo Park fanny pack bitters keytar vinyl. Semiotics next level lomo craft beer chillwave kogi. Tousled 90's disrupt, cray Tumblr pug Austin master cleanse messenger bag Wes Anderson Blue Bottle.
    </div>
  </div>
</div>

<div class="row" style="margin: 0">
  <div class="col-md-5 col-md-offset-1">
    <div class="page-title">
      Girls Like Cars and Money
    </div>
    <div class="page-description">
      Mixtape Brooklyn kale chips, Blue Bottle art party Portland authentic cred. Portland Banksy street art wayfarers XOXO cold-pressed. Lomo locavore health goth, ethical biodiesel food truck Godard Intelligentsia cornhole occupy 90's kale chips. Scenester vinyl PBR paleo vegan Echo Park. Blue Bottle crucifix put a bird on it, 8-bit Bushwick +1 Echo Park fanny pack bitters keytar vinyl. Semiotics next level lomo craft beer chillwave kogi. Tousled 90's disrupt, cray Tumblr pug Austin master cleanse messenger bag Wes Anderson Blue Bottle.
    </div>
  </div>
  <div class="col-md-5">
    <img src="http://www.videotron.com/vcom/media/m2580684/10/Samsung-Galaxy-S6-Edge-Noir-Grande-432x414.png" style="margin-top: 102px;  margin-left: -10px;  height: 560px;">
  </div>
</div>

<style type="text/css">
  .page-title{
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: 200;
    margin-top: 148px;
  }

  .page-description{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-top: 30px;
    line-height: 26px;
  }
</style>